* {
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

.title-section {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.title-section h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.title-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.title-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin: 16px 0;
}

.btn-hover1 {
  font-family: "Nunito", sans-serif;
  color: #dc4f72;
  border: 1px solid transparent;
  border-color: #dc4f72;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 30px;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  transition: 0.5s;
}

.btn-hover1:hover {
  background-color: #dc4f72;
  color: white;
}

.header {
  background-color: white;
  /* position: sticky; */
  top: 0;
  left: 0;
  z-index: 444;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.header .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header .header-bar .logo {
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #dc4f72;
  letter-spacing: -1px;
}

.header .header-bar .logo a {
  text-transform: capitalize;
  text-decoration: none;
  color: #dc4f72;
  font-size: 24px;
  font-weight: 800;
}

.header .header-bar .logo i {
  font-size: 27px;
}

.header .header-bar .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
}

.header .header-bar .navbar a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 14px 15px;
  color: #333;
  opacity: 0.95;
  font-size: 15px;
}

.header .header-bar .navbar a::before {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 15px;
  width: 0px;
  height: 0px;
  background-color: #dc4f72;
  transition: 0.5s;
}

.header .header-bar .navbar a:hover {
  color: #dc4f72;
  transition: 0.5s;
}

.header .header-bar .navbar a:hover::before {
  width: 20px;
  height: 2px;
}

.header .header-bar .navbar i {
  font-size: 10px;
  padding-left: 2px;
  vertical-align: 1px;
}

.header .header-bar .navbar button {
  margin: 0 15px 0 31px;
}

.carousel {
  background: white;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.carousel .container {
  padding-top: 80px;
  display: flex;
  padding-right: 25px;
  padding-left: 25px;
  /* justify-content: center; */
  align-items: center;
}

.carousel .left-banner {
  max-width: 50%;
  padding-right: 15px;
  padding-left: 0px;
}

.carousel .left-banner h3 {
  font-size: 50px;
  line-height: 58px;
  color: #2c3038;
  font-weight: 700;
}

.carousel .left-banner p {
  color: #5a5a5a;
  font-size: 19px;
  line-height: 29px;
  font-weight: 400;
  max-width: 450px;
  margin-top: 16px;
  margin-bottom: 45px;
}

.carousel .right-banner {
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.carousel .right-banner img {
  display: block;
  transform: rotate(180deg);
}

.tool{
    padding: 48px 0;
}

.tool .container{
  padding: 24px 25px 16px 25px;
}

.tool .content {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.tool .content .item {
  margin-top: 48px;
  max-width: calc(100% / 3);
  padding: 0 15px;
}

.tool .content .item .item-display {
  background-color: #f7f9fc;
  border: 1px solid #f7f9fc;
  border-radius: 6px;
  padding: 48px 32px;
  text-align: center;
  transition: 0.5s;
}

.tool .content .item .item-display:hover {
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-8px);
    transition: 0.5s;
}

.tool .content .item .item-display a {
  display: block;
  text-decoration: none;
}

.tool .content .item .item-display img {
  vertical-align: middle;
}

.tool .content .item .item-display h3 {
  color: #2c3038;
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
  margin: 16px 0;
}

.tool .content .item .item-display p {
  color: #5a5a5a;
  margin-top: 15px;
  font-size: 15px;
  line-height: 24.5px;
}

/* Customize plugins here--------------------------------- */
/* scrollUp */
#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 46px;
  background: url(../img/pink-arrow-up.png) no-repeat;
  border-radius: 8px;
}

/* Reponsive here */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* Animate here -------------------------------------------*/
@keyframes someAnimation {
  50% {
    transform: translateY(-50%);
  }
}
